
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #f6fbff;
  overflow-x: hidden !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0 !important;
}
a{
    text-shadow: none !important;
    color: white !important;
    font-size: 16px !important;
    text-decoration: none;
    filter: blur(0px) !important;
    
}
a:hover{
  
    text-shadow: none !important;
    color: white !important;
    font-size: 16px !important;
    text-decoration: none;
}

.rs-picker-toolbar-right button{
  background: rgb(69, 38, 248) !important;
}


@media only screen and (max-width:900px){
  body{
  background-color: #f6fbff;
  overflow-x: hidden !important;
}
}